<!-- templates/about_me.html -->

{% extends 'base.html' %}

{% block title %}About Our Family{% endblock %}

{% block content %}
    <h1>About Our Family</h1>
    <h3>In Sacramento, my partner and I found our dream home, and its walls soon echoed with our laughter and love. However, we felt something missing, and our hearts yearned for a furry friend. A couple of years later, our wish came true when we welcomed a chocolate Labrador retriever into our lives. His wagging tail and playful antics completed our family, turning our cherished home into a place of boundless happiness.</h3>

{% endblock %}