<!-- templates/about_me.html -->

{% extends 'base.html' %}

{% block title %}About Our Family{% endblock %}

{% block main_section_1 %}
    <h1>About Our Family</h1>
    <h3>In Sacramento, my partner and I found our dream home, and its walls soon echoed with our laughter and love. However, we felt something missing, and our hearts yearned for a furry friend. A couple of years later, our wish came true when we welcomed a chocolate Labrador retriever into our lives. His wagging tail and playful antics completed our family, turning our cherished home into a place of boundless happiness.</h3>

{% endblock %}

{% block quotes %}
    <h2>Quotes</h2>
    <blockquote>
        "Quote 1"
    </blockquote>
    <blockquote>
        "Quote 2"
        <footer>- Another Author</footer>
    </blockquote>
   
{% endblock %}

{% block map %}
    <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199665.90719770757!2d-121.62624290273999!3d38.561886893735526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac672b28397f9%3A0x921f6aaa74197fdb!2sSacramento%2C%20CA!5e0!3m2!1sen!2sus!4v1691016647663!5m2!1sen!2sus" allowfullscreen></iframe>
{% endblock %}