<!-- templates/index.html -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <h3>Labrador Retrievers are wonderful companions known for their loyalty, gentle nature, and affection. They blend seamlessly into families and offer endless joy with their playful demeanor. Their intelligence and trainability make them versatile working dogs, while their infectious happiness brings boundless joy to their owners' lives, making them cherished family members and loyal friends.</h3>
{% endblock %}