<!-- templates/meet_my_dog.html -->

{% extends 'base.html' %}

{% block title %}Meet Our Dog{% endblock %}

{% block main_section_1 %}
    <h1>Meet Our Dog</h1>
    <h3>Our chocolate Labrador retriever is name Moose! He is an absolute bundle of joy! With boundless energy and a playful spirit, Moose keeps us on our toes and brings constant excitement to our lives. His friendly nature knows no bounds, as he warmly greets everyone he meets with a wagging tail and a big, slobbery smile. Whether it's chasing after a ball in the park, splashing around in puddles, or engaging in hilarious antics around the house, he never fails to put a smile on our faces. Our furry friend is the epitome of fun, and his presence has filled our home with love and laughter in the most delightful ways.</h3>
{% endblock %}