/* static/css/style.css */

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header { 
    
    display: flex;
    background-color: #F2AA5F;
    color: #fff;
    align-items: left;
    padding: 20px;
}

.logo img {
    width: 40px; /* Set the width of your logo image (adjust as needed) */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  }
  .logo {
    display: flex; /* Optional: Use flexbox for better alignment */
    align-items: center; /* Optional: Vertically center the items */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.logo img {
    margin-right: 10px; /* Adjust the margin as needed */
}

h1 {
    margin: 0;
}

nav {
    background-color: #76ABDB;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 0 10px
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #666;
}

main {
    padding: 40px; /* Add padding around the main content */
    background-color: #fff; /* Set a background color for the main content */
    margin-left: 150px; /* Align main content slightly to the right */
    margin-right: 150px;
}

main h3 {
    margin-top: 20px; /* Add desired space between h1 and h2 */
  }

  .center-aligned {
    text-align: center;
    position: relative;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    height: 500px;
}


.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* Center the .slide element */
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

 /* .gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
} */

footer {
    width: 100%;
    background-color: #E3EFFA;
    padding: 0 10px;
    text-align: center;
    font-family: "Arial", sans-serif;
    margin-top: 500px;
}

.about-me, .contact-info {
    margin-top: 0 10px;
    margin-bottom: 0 20px;
    color: #333;
    white-space: pre-line;

}


