/* static/css/style.css */

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #023246;
}

header { 
   
    display: flex;
    background-color: #287094;
    color: #ECE9E9;
    align-items: left;
    padding: 20px;
}

.logo img {
    width: 40px; /* Set the width of your logo image (adjust as needed) */
    height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  }

  .logo {
    display: flex; /* Optional: Use flexbox for better alignment */
    align-items: center; /* Optional: Vertically center the items */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.logo img {
    margin-right: 10px; /* Adjust the margin as needed */
}

h1 {
    margin: 0;
}

nav {
    background-color: #97CADB;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    text-align: left;
}

nav li {
    display: inline-block;
    margin: 0 10px
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    background-color: #F0F6F7;
}

main {
    padding: 40px; /* Add padding around the main content */
    background-color: #CECEE1; /* Set a background color for the main content */
    margin-left: 150px; /* Align main content slightly to the right */
    margin-right: 150px;
    margin-top: 100px;
}

main h3 {
    margin-top: 20px; /* Add desired space between h1 and h2 */
  }

  .center-aligned {
    text-align: center;
    position: relative;
}

.dashboard-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.dashboard-container h2 {
    margin-bottom: 10px; /* Add margin below h2 */
}

.dashboard-container p {
    margin-top: 10px; /* Add margin above p */
}

.website-info-container {
    background-color: #dd6e42;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #dd6e42; /* Outer border color and thickness */
    border-radius: 10px; /* Border radius for rounded corners */
    outline: 2px solid #dd6e42; /* Inner border color and thickness */
    outline-offset: -5px; /* Adjust the inner border offset to match the outer border thickness */
}

.website-info-container h2 {
    margin-bottom: 15px;
}

.website-info-container p {
    margin-bottom: 15px;
    font-size: 20px;
}

#fun-facts-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dd6e42;
    padding: 80px;
    border-radius: 5px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
    width: 470px;
    margin-left: 110px;
    margin-top: 30px;
    height: 560px;
    /*text-align: center;*/
}

#fun-facts h2 {
    color: blue;
    margin-bottom: 20px; 
}

#fun-facts-list {
    list-style-type: square;
    margin-left: 50px;
    margin-top: 30px;
}

#fun-facts-list li {
    margin-left: 0px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

#breed-information-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dd6e42;
    padding: 60px;
    border-radius: 5px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/
    float: right;
    width: 500px; /* Adjust the width as needed */
    margin-left: 755px; /* Adjust the margin as needed */
    margin-top: -720px; /* Adjust the margin as needed */
      
}

#breed-information h2 {
    color: blue;
    margin-bottom: 20px; 
}

#breed-information-list {
    list-style-type: square;
    margin-left: 50px;
    margin-top: 30px;
}

#breed-information-list li {
    margin-left: 0px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.slideshow-container {
    position: relative;
    max-width: auto;
    margin: auto;
    height: 500px;
}


.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* Center the .slide element */
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.video-container {
    position: relative;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the video horizontally */
}

/* Style for the video element */
video {
    width: 100%; /* Make the video element take the full width of its container */
    height: auto; /* Maintain the video's aspect ratio */
    display: block;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    
}

/* Add styles specific to the login page */
.login-container {
    max-width: 1000px;
    margin: auto;
    padding: 150px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.login-center-aligned {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    min-height: 100vh; /* Ensure the content takes up at least the viewport height */
}

.login-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: row;
}

.login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    padding: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Other styles can be added as needed */

 /* .gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
} */

.map-container {
    text-align: center;
    margin-top: 40px;
}
/* Style for person sections */
.person-section {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #dd6e42;
}

.person-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.person-description {
    font-size: 20px;
}

/* Additional styles for specific persons */
.person1-description {
    color: #333;
}

.person2-description {
    color: #333;
}

.person3-description {
    color: #333;
}


footer {
    width: 100%;
    background-color: #97CADB;
    padding: 0 10px;
    text-align: center;
    font-family: "Arial", sans-serif;
    margin-top: 100px;
}

.about-me, .contact-info {
    margin-top: 0 10px;
    margin-bottom: 0 20px;
    color: #333;
    white-space: pre-line;

}


